@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.boxCard {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    
    
}

.card {
    width: 100%;
    text-align: center;
    background-color: #fff !important;
    color: #1a1818 !important;
    font-family: 'Trocchi', serif !important;
}

.card p {
    color: #1a1818 !important;
    font-family: 'Trocchi', serif !important;
}

.MuiTabPanel-root {
    padding-bottom: 7.5% !important;
    background-color: #1a1818;
    
}

.postagensCard {
    font-size: 8px !important;
}

.tituloCard {
    font-size: 22px !important;
    font-weight: bold !important;
    letter-spacing: 3px !important;
    margin-top: 2px !important;
    margin-bottom: 1% !important;
}

.textoCard {
    font-size: 12px !important;
    margin-bottom: 2% !important;
    text-align: justify;
}

.temaCard {
    font-size: 10px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    margin-top: 2px;
}

.text-decorator-none {
    text-decoration: none !important;
}

.btnAtualizar {
    background-color: #ff904c !important;
    color: #fff !important;
    font-family: 'Roboto Slab', serif !important;
    font-size: 12px !important;
}

.btnDeletar {
    background-color: #1a1818 !important;
    color: #fff !important;
    font-family: 'Roboto Slab', serif !important;
    font-size: 12px !important;
}