@import url('https://fonts.googleapis.com/css2?family=Charm&family=Dancing+Script&family=IBM+Plex+Serif&family=Lobster+Two&family=Luckiest+Guy&family=Playfair+Display:wght@400;800&family=Smooch+Sans:wght@100&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

.barra {
    height: 2.5rem;
    align-items: center;
    width: 98%;
    
}

.navbar-barra {
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 24, 24); 
    width: 98%;
}

.itens-navbar {
    display: flex;
    justify-items: center;
    width: 35%;
    justify-content:space-around; 
}

.itens-navbar p {
    display: flex;
    justify-content: center;
    font-family: 'Trocchi', serif !important;
    color: rgb(27, 26, 26) !important;
    font-size: 0.9rem;
    padding: 0.5rem;
    color: #fffbf8 !important;
}

.img-navbar {
    display: flex;
    justify-items: center !important;
}

.borda-btn {
    display: flex;
    justify-content: center;
    justify-items: center;
    --bg: rgb (26, 24, 24);
    --hover-bg: #ff904c;
    --hover-text: #000;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    background: var(--bg);
    transition: 0.2s;
}

.borda-btn:active {
    transform: translate(0);
  box-shadow: none;
}

.borda-btn:hover {
    color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
   }
   
   