@import url('https://fonts.googleapis.com/css2?family=Charm&family=Dancing+Script&family=IBM+Plex+Serif&family=Lobster+Two&family=Luckiest+Guy&family=Playfair+Display:wght@400;800&family=Smooch+Sans:wght@100&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

.text-decoration-none {
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url("https://i.ibb.co/HGbJvyT/Design-sem-nome-21.png");
    /* cores do background
    #ffeed7
    #ff8613
    #ff973f
    #ffb26f
    */
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    }

.container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25rem;
    width: 25rem;

/* From https://css.glass */
background: rgba(255, 255, 255, 0.582);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgb(0, 0, 0);
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}



.texto-entrar img {
    height: 6.5rem;
    margin-bottom: 1rem;
   
}

.input-form {
    width: 12rem !important;
    height: 4rem;
    margin-bottom: 0.6rem !important;
    border: 10px !important;
}

.btn-login {
    background-color:  rgba(14, 12, 12, 0.897) !important; 
    color: #ffffff !important;
    padding: 0.5rem !important;
    width: 4rem !important;
    border-radius: 0.6rem !important;
    font-family: 'Trocchi', serif !important;
    font-size: 0.7rem !important;
}

.btn-login:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    background-color: #ff914d !important;
}

.cadastre-login {
    display: flex;
    justify-content: space-between !important;
}

.txt1-login {
    margin-right: 1rem !important;
    margin-top: 1.5rem;
   
    
}

.txt1-login1 {
    margin-right: 1rem !important;
    margin-top: 1.5rem;
    
}


.txt1-login1 a {
    text-decoration: none !important;
    color: black;
}

.txt1-login1 p {
    font-weight: bold;
    font-size: 15px;
}

.txt1-login1 p:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    border: 0.3rem;
    border-color: black;
}

.txt1-login p {
    font-size: 15px;
}
