@import url('https://fonts.googleapis.com/css2?family=Charm&family=Dancing+Script&family=IBM+Plex+Serif&family=Lobster+Two&family=Luckiest+Guy&family=Playfair+Display:wght@400;800&family=Smooch+Sans:wght@100&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');


label {
    font-family: 'Trocchi', serif !important;
    font-size: 0.9rem !important;
    
}

.text-decoration-none {
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url("https://i.ibb.co/HGbJvyT/Design-sem-nome-21.png");
    /* cores do background
    #ffeed7
    #ff8613
    #ff973f
    #ffb26f
    */
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    }

.container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 29rem;
    width: 21rem;

/* From https://css.glass */
background: rgba(255, 255, 255, 0.582);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgb(182, 169, 169) !important;

box-shadow:  7px 7px 16px #775314,
             -2px -2px 8px #ff973f;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}



.texto-entrar img {
    height: 6.5rem;
    margin-bottom: 1rem;
   
}

.input-form {
    width: 12rem !important;
    height: 4rem;
    margin-bottom: 0.6rem !important;
    border: 10px !important;
    color: white !important;
    font-family: 'Trocchi', serif !important;
    font-size: 0.9rem !important;
}




.btn-login {
    font-family: 'Trocchi', serif !important;
    font-size: 0.9rem !important;
    font-weight: 200 !important;
    color: black !important;
    letter-spacing: 1px !important;
    padding: 13px 20px 13px !important;
    outline: 0 !important;
    border: 1px solid black !important;
    cursor: pointer !important;
    position: relative !important;
    background-color: rgba(0, 0, 0, 0) !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: manipulation !important;
  }
  
  .btn-login:after {
    content: "" !important;
    background-color: #ff914d !important;
    width: 100% !important;
    z-index: -1 !important;
    position: absolute !important;
    height: 100% !important;
    top: 7px !important;
    left: 7px !important;
    transition: 0.3s !important;
    color: black !important;
  }
  
  .btn-login:hover:after {
    top: 0px !important;
    left: 0px !important;
  }
  
  @media (min-width: 768px) {
    .btn-login {
      padding: 13px 50px 13px !important;
    }
  }

.cadastre-login {
    display: flex;
    justify-content: space-between !important;
}

.txt1-login {
    margin-right: 1rem !important;
    margin-top: 1.5rem;
   
    
}

.txt1-login1 {
    margin-right: 1rem !important;
    margin-top: 1.5rem;
    color: black !important;
    
}


.txt1-login1 a {
    text-decoration: none !important;
    color: black;
}

.txt1-login1 p {
    font-weight: bold;
    font-size: 15px;
    color: black !important;
}

.txt1-login1 p:hover {
    transform: scale(1);
    transition: all 0.3s;
    color: #ff973f !important;
    border: 0.3rem;
    border-color: black;
}

.txt1-login p {
    font-size: 15px;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    font-family: 'Trocchi', serif !important;
    font-size: 0.9rem !important;
    letter-spacing: inherit;
    color: black;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}
