@import url('https://fonts.googleapis.com/css2?family=Charm&family=Dancing+Script&family=IBM+Plex+Serif&family=Lobster+Two&family=Luckiest+Guy&family=Playfair+Display:wght@400;800&family=Smooch+Sans:wght@100&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    height: 200rem !important;
}

.container-home {
    width: 100% !important;
}

.inicioHome {
    display: flex;
    justify-content:space-between;
    background-color: #1a1818;
}

.txtHome {
    text-align: center;
    margin-top: 15% !important;
    margin-left: 20% !important;
    color: #fff !important;
}

.imgHome {
    margin-top: 3% !important;
    margin-right: 10% !important;
}

.nomeHome {
    font-size: 50px !important;
    font-family: 'Trocchi', serif !important;
}

.fraseHome {
font-family: 'Roboto Slab', serif !important;
font-size: 12px !important;  
color: #ff904c !important;
}

.modalHome {
    color: #1a1818;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    font-family: 'Trocchi', serif !important;
    margin-top: 5%;
}

.btnModal {
    background-color: #fff;
    font-size: 12px !important;
    width: 10rem;
    font-family: 'Trocchi', serif !important;
}

.btnModal:hover {
    background-color: #1a1818 !important;
    color: #fff !important;
}



.btnVerpost {
    background-color: #fff;
    color: #1a1818 !important;
    margin-left: 3px;
    width: 10rem;
    font-family: 'Trocchi', serif !important;
    text-decoration: none !important;
    border-radius: 2px !important;
    
}


.btnVerpost button:hover {
    background-color: #1a1818 !important;
    color: #fff !important;
}

.btnVerpost button {
    font-family: 'Trocchi', serif !important;
    align-items: center;
    font-size: 12px !important;
    text-transform: uppercase;
	transition: none;	
	cursor: pointer;
	user-select: none;
    color: #1a1818 !important;
    border: 1px solid rgb(255, 255, 255) !important; 
    width: 100% !important;
}

.textDecorationNone {
    text-decoration: none !important;
}


.tabHome {
    height: 30rem;
}